rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email == 'irvan.syar@gmail.com';
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && (request.auth.uid == userId || isSuperAdmin());
    }

    match /toko/{tokoId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated(); // Allow creation & updates for now
    }
    
    match /cabang/{cabId} {
      allow read, write: if isAuthenticated();
    }
    
    match /transaksi/{transId} {
      allow read, write: if isAuthenticated();
    }
  }
}
